{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Body Start -->
	<div class="wrapper wrapper-blog">
		<div class="default-dt">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="default_tabs">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb blog-breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Our Blog No Sidebar</li>
								</ol>
							</nav>						
						</div>
						<div class="title129">	
							<h3 class="blog-titlebar-heading">Welcome to Our Blog</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blog-gambo">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-1.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">15 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>5</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>	
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-2.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">14 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>10</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-3.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">10 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>25</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-4.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">10 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>25</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-5.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">10 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>25</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="blog-item">
							<a href="{% url 'blog_detail_view' %}" class="blog-img">
								<img src="{% static 'assets/images/blog/img-6.jpg' %}" alt="">
								<div class="blog-cate-badge">Food & Life Style</div>
							</a>
							<div class="date-icons-group">
								<div class="blog-time sz-14">10 May, 2020</div>
								<ul class="like-share-icons">
									<li>
										<a href="#" class="like-share"><i class="uil uil-thumbs-up"></i><span>25</span></a>
									</li>
									<li>
										<a href="#" class="like-share"><i class="uil uil-share-alt"></i></a>
									</li>
								</ul>
							</div>
							<div class="blog-detail">
								<h4>Blog Title Here</h4>
								<p>Maecenas viverra odio sed mauris mattis blandit. Nullam et dolor vitae erat scelerisque vulputate. Maecenas felis arcu, pulvinar id cursus eget, ultrices ac metus. Mauris condimentum tortor sapien, laoreet ornare nibh iaculis eu. Donec posuere ipsum at malesuada egestas. Pellentesque accumsan lacus urna, sed suscipit ipsum bibendum sit amet.</p>
								<a href="{% url 'blog_detail_view' %}">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12">
						<div class="blog-more-btn">
							<div class="pagination-area text-center">
								<nav aria-label="navigation"> 
									<span aria-current="page" class="page-numbers current">1</span>
									<a class="page-numbers" href="#">2</a>
									<a class="page-numbers" href="#">3</a>
									<a class="next page-numbers" href="#"><i class="uil uil-angle-double-right"></i></a>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->
{%  endblock %}