{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Vegetables & Fruits</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-top-dt">
							<div class="product-left-title">
								<h2>Vegetables & Fruits</h2>
							</div>
							<a href="#" class="filter-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasFilter">Filters</a>
							<div class="product-sort main-form">
								<select class="selectpicker" data-width="25%">
									<option value="0">Popularity</option>
									<option value="1">Price - Low to High</option>
									<option value="2">Price - High to Low</option>
									<option value="3">Alphabetical</option>
									<option value="4">Saving - High to Low</option>
									<option value="5">Saving - Low to High</option>
									<option value="6">% Off - High to Low</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="product-list-view">
					<div class="row">
						{% for product in products %}
							<div class="col-lg-3 col-md-6">
								<form method="POST" action="{% url 'add_to_cart' product.id %}">
									{% csrf_token %}
									<div class="product-item mb-30">
										<a href="{% url 'single_product_view' product.id %}" class="product-img">
											{% for image in product.images.all %}
											{% if forloop.first %}
											{% if image.image %}
											<img src="{{ image.image.url }}" alt="{{ product.title }}">
											{% endif %}
											{% endif %}
											{% endfor %}
											<div class="product-absolute-options">
												{% if product.discounted %}
													<span class="offer-badge-1">{{ product.discounted }}% off</span>
												{% endif %}
												<span class="like-icon" title="wishlist"></span>
											</div>
										</a>
										<div class="product-text-dt">
											<p>Available<span>({% if product.available %} {{ product.stock }}{% else %}Out of Stock{% endif %})</span></p>
											<h4>{{ product.title }}</h4>
											<div class="product-price">
												${{ product.selling_price }}
												{% if product.discount_price %}
													<span>${{ product.discount_price }}</span>
												{% endif %}
											</div>
											<div class="qty-cart">
												<div class="quantity buttons_added">
													<input type="button" value="-" class="minus minus-btn">
													<input type="number" step="1" name="quantity" value="1" class="input-text qty text">
													<input type="button" value="+" class="plus plus-btn">
												</div>
												<button type="submit" class="cart-icon" style="background: none; border: none; padding: 0;">
													<i class="uil uil-shopping-cart-alt"></i>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						{% endfor %}
					
						<div class="col-md-12">
							<div class="more-product-btn">
								<button class="show-more-btn hover-btn" onclick="window.location.href = '#';">Show More</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Body End -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
{%  endblock %}